# Goreleaser
dist/
.github/release-notes.md

# Binaries for programs and plugins
appcat
:9443
# But don't ignore the appcat APIS!
!apis/appcat
!pkg/apiserver/appcat

# temp file, editor and IDE paraphernalia
.idea
.kind
.work
.cache
.public
.vscode
gen/

# debug
apiserver.local.config
__debug_bin*

# Kubebuilder
/apis/generated/

# Ignore crossplane packages
*.xpkg
