# Goreleaser
dist/
.github/release-notes.md

# Binaries for programs and plugins
appcat

# temp file, editor and IDE paraphernalia
.idea
.kind
.work
.cache
.public

# debug
apiserver.local.config

# Kubebuilder
/apis/generated/
