# Goreleaser
dist/
.github/release-notes.md

# Binaries for programs and plugins
appcat
# But don't ignore the appcat APIS!
!apis/appcat

# temp file, editor and IDE paraphernalia
.idea
.kind
.work
.cache
.public
.vscode

# debug
apiserver.local.config
__debug_bin*

# Kubebuilder
/apis/generated/
