---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: appcat-controller
rules:
- apiGroups:
  - ""
  resourceNames:
  - extension-apiserver-authentication
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.crossplane.io
  resources:
  - compositions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - k8up.io
  resources:
  - snapshots
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - stackgres.io
  resources:
  - sgbackups
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnmariadbs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnnextclouds
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnpostgresqls
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnredis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnnextclouds
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnpostgresqls
  verbs:
  - get
  - list
  - watch
