---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: appcat-sli-exporter
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - managedupgrade.appuio.io
  resources:
  - upgradejobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnminios
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnminios/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnpostgresqls
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnpostgresqls/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnredis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - vshnredis/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnminios
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnminios/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnpostgresqls
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnpostgresqls/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnredis
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnredis/status
  verbs:
  - get
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvsnkeycloaks
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvsnkeycloaks/status
  verbs:
  - get
