desired:
  composite:
    resource:
      apiVersion: vshn.appcat.vshn.io/v1
      kind: XVSHNRedis
      metadata:
        creationTimestamp: "2023-03-21T16:52:31Z"
        finalizers:
        - composite.apiextensions.crossplane.io
        generateName: redis-
        generation: 13
        labels:
          appuio.io/organization: vshn
          crossplane.io/claim-name: redis
          crossplane.io/claim-namespace: unit-test
          crossplane.io/composite: redis-gc9x4
        name: redis-gc9x4
      spec:
        parameters:
          service:
            version: '{{ .CompositeVersion }}'
        writeConnectionSecretToRef: {}
      status: {}
  resources:
    release:
      resource:
        apiVersion: helm.crossplane.io/v1beta1
        kind: Release
        spec:
          forProvider:
            chart:
              name: redis
              repository: https://charts.bitnami.com/bitnami
            values:
              architecture: standalone
              commonConfiguration: updated
              fullnameOverride: redis
              global:
                imageRegistry: dummy
              image:
                repository: bitnami/redis
                tag: "7.0"
              master:
                containerSecurityContext:
                  enabled: true
                persistence:
                  size: 7Gi
                podSecurityContext:
                  enabled: true
                resources:
                  limits:
                    cpu: 10m
                    memory: 1Gi
                  requests:
                    cpu: 10m
                    memory: 1Gi
              networkPolicy:
                allowExternal: false
                enabled: true
                ingressNSMatchLabels:
                  kubernetes.io/metadata.name: dummy
              tls:
                authClients: true
                autoGenerated: false
                certCAFilename: ca.crt
                certFilename: tls.crt
                certKeyFilename: tls.key
                enabled: true
                existingSecret: tls-server-certificate
          providerConfigRef:
            name: helm
observed:
  composite:
    resource:
      apiVersion: vshn.appcat.vshn.io/v1
      kind: XVSHNRedis
      metadata:
        creationTimestamp: "2023-03-21T16:52:31Z"
        finalizers:
        - composite.apiextensions.crossplane.io
        generateName: redis-
        generation: 13
        labels:
          appuio.io/organization: vshn
          crossplane.io/claim-name: redis
          crossplane.io/claim-namespace: unit-test
          crossplane.io/composite: redis-gc9x4
        name: redis-gc9x4
      spec:
        parameters:
          service:
            version: '{{ .CompositeVersion }}'
        writeConnectionSecretToRef: {}
      status: {}
  resources:
    release:
      resource:
        apiVersion: helm.crossplane.io/v1beta1
        kind: Release
        spec:
          forProvider:
            chart:
              name: redis
              repository: https://charts.bitnami.com/bitnami
            values:
              architecture: standalone
              commonConfiguration: dummy
              fullnameOverride: redis
              global:
                imageRegistry: dummy
              image:
                repository: bitnami/redis
                tag: '{{ .ObservedVersion }}'
              master:
                containerSecurityContext:
                  enabled: true
                extraVolumes: []
                persistence:
                  size: 7Gi
                podSecurityContext:
                  enabled: true
                resources:
                  limits:
                    cpu: 10m
                    memory: 1Gi
                  requests:
                    cpu: 10m
                    memory: 1Gi
              networkPolicy:
                allowExternal: false
                enabled: true
                ingressNSMatchLabels:
                  kubernetes.io/metadata.name: dummy
              tls:
                authClients: true
                autoGenerated: false
                certCAFilename: ca.crt
                certFilename: tls.crt
                certKeyFilename: tls.key
                enabled: true
                existingSecret: tls-server-certificate
          providerConfigRef:
            name: helm

