---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: appcat-controller
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubernetes.crossplane.io
  resources:
  - objects
  verbs:
  - delete
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnpostgresqls
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnpostgresqls/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnredis
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - vshn.appcat.vshn.io
  resources:
  - xvshnredis/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
