apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: appcat-controller
rules:
  - apiGroups:
      - vshn.appcat.vshn.io
    resources:
      - xvshnpostgresqls
      - xvshnpostgresqls/finalizers
    verbs:
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kubernetes.crossplane.io
    resources:
      - objects
    verbs:
      - delete
  - apiGroups:
      - ""
    resources:
      - namespaces
      - configmaps
    verbs:
      - get
      - update
      - list
      - watch
      - delete
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - get
      - update
      - list
      - watch
      - delete
      - create
      - patch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
  - apiGroups:
      - cert-manager.io
    resources:
      - issuers
      - certificates
    verbs:
      - get
  - apiGroups:
      - batch
    resources:
      - jobs
      - cronjobs
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods
      - services
    verbs:
      - get
  - apiGroups:
      - vshn.appcat.vshn.io
    resources:
      - "*"
    verbs:
      - get
