apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: appcat
  namespace: appcat
spec:
  endpoints:
  - path: /metrics
    port: metrics
  selector:
    matchLabels:
      appcat-controller: appcat-controller
