---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-codey-io-v1-codeyinstance
  failurePolicy: Fail
  name: codeyinstance.codey.io
  rules:
  - apiGroups:
    - codey.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - codeyinstances
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-mysql-sql-crossplane-io-v1alpha1-database
  failurePolicy: Fail
  name: databases.mysql.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - mysql.sql.crossplane.io
    apiVersions:
    - v1alpha1
    operations:
    - DELETE
    resources:
    - databases
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-mysql-sql-crossplane-io-v1alpha1-grant
  failurePolicy: Fail
  name: grants.mysql.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - mysql.sql.crossplane.io
    apiVersions:
    - v1alpha1
    operations:
    - DELETE
    resources:
    - grants
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate--v1-namespace
  failurePolicy: Fail
  name: namespace.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - ""
    apiVersions:
    - v1
    operations:
    - DELETE
    resources:
    - namespaces
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-appcat-vshn-io-v1-objectbucket
  failurePolicy: Fail
  name: objectbuckets.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - DELETE
    - UPDATE
    resources:
    - objectbuckets
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-kubernetes-crossplane-io-v1alpha2-object
  failurePolicy: Fail
  name: objects.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - kubernetes.crossplane.io
    apiVersions:
    - v1alpha2
    operations:
    - DELETE
    resources:
    - objects
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnpostgresql
  failurePolicy: Fail
  name: postgresql.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnpostgresqls
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-helm-crossplane-io-v1beta1-release
  failurePolicy: Fail
  name: releases.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - helm.crossplane.io
    apiVersions:
    - v1beta1
    operations:
    - DELETE
    resources:
    - releases
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-mysql-sql-crossplane-io-v1alpha1-user
  failurePolicy: Fail
  name: users.mysql.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - mysql.sql.crossplane.io
    apiVersions:
    - v1alpha1
    operations:
    - DELETE
    resources:
    - users
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnforgejo
  failurePolicy: Fail
  name: vshnforgejo.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnforgejoes
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnkeycloak
  failurePolicy: Fail
  name: vshnkeycloak.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnkeycloaks
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnmariadb
  failurePolicy: Fail
  name: vshnmariadb.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnmariadbs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnminio
  failurePolicy: Fail
  name: vshnminio.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnminios
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnnextcloud
  failurePolicy: Fail
  name: vshnnextcloud.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnnextclouds
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vshn-appcat-vshn-io-v1-vshnredis
  failurePolicy: Fail
  name: vshnredis.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - vshn.appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    - DELETE
    resources:
    - vshnredis
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-appcat-vshn-io-v1-xobjectbucket
  failurePolicy: Fail
  name: xobjectbuckets.vshn.appcat.vshn.io
  rules:
  - apiGroups:
    - appcat.vshn.io
    apiVersions:
    - v1
    operations:
    - DELETE
    resources:
    - xobjectbuckets
  sideEffects: None
