name: PR Automation

on:
  pull_request: {}
  pull_request_target:
    types:
      - closed
    branches:
      - master

env:
  APP_NAME: appcat
  COMPONENT_REPO: kidswiss/component-appcat

jobs:
  check-labels:
    # Act doesn't set a pull request number by default, so we skip if it's 0
    if: github.event.pull_request.number != 0
    name: Check labels
    runs-on: ubuntu-latest
    steps:
      - uses: docker://agilepathway/pull-request-label-checker:v1.6.51
        with:
          one_of: breaking,enhancement,bug
          repo_token: ${{ secrets.GITHUB_TOKEN }}
  publish-branch-images:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Determine Go version from go.mod
        run: echo "GO_VERSION=$(grep "go 1." go.mod | cut -d " " -f 2)" >> $GITHUB_ENV

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}

      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build branch and push AppCat
        run: make docker-push-branchtag

      - name: Build branch and push Functions
        run: make function-push-package-branchtag
  open-pr-component:
    if: github.event.action == 'opened'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: ${{ env.COMPONENT_REPO }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Update defaults.yml and create branch
        run: |
          yq e '.parameters.appcat.images.${{ env.APP_NAME }}.tag="${{ steps.extract_branch.outputs.branch }}"' class/defaults.yml | diff -B class/defaults.yml - | patch class/defaults.yml - || true

          git --no-pager diff

      - name: Generate new golden
        # Act uses the host's docker to run containers, but then
        # they can't access the files that were previously cloned.
        if: github.event.pull_request.number != 0
        run: |
          make gen-golden-all

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.COMPONENT_ACCESS_TOKEN }}
          title: 'PR for ${{ env.APP_NAME }} on ${{ steps.extract_branch.outputs.branch }}'
          body: "${{ github.event.pull_request.body}}\nLink: ${{ github.event.pull_request.url }}"
          branch: "${{ env.APP_NAME }}/${{ github.event.pull_request.number }}/${{ steps.extract_branch.outputs.branch }}"
          base: master
          draft: false
  create-release:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - name: Check for bug label
        if: contains(github.event.pull_request.labels.*.name, 'bug')
        id: bug
        run: |
          echo "set=true" >> $GITHUB_OUTPUT
      - name: Check for bug label
        if: contains(github.event.pull_request.labels.*.name, 'enhancement')
        id: enhancement
        run: |
          echo "set=true" >> $GITHUB_OUTPUT
      - name: Check for breaking label
        if: contains(github.event.pull_request.labels.*.name, 'breaking')
        id: breaking
        run: |
          echo "set=true" >> $GITHUB_OUTPUT

      - uses: actions/checkout@v4
        with:
          # Make sure we use the right commit to tag
          ref: ${{ github.event.pull_request.merge_commit_sha }}
          # We also need to use the personal access token here. As subsequent
          # actions will not trigger by tags/pushes that use `GITHUB_TOKEN`
          # https://github.com/orgs/community/discussions/25702#discussioncomment-3248819
          token: ${{ secrets.COMPONENT_ACCESS_TOKEN }}
          # This is broken in checkout@v4...
          # https://github.com/actions/checkout/issues/1781
          fetch-tags: true

      - name: fetch tags
        run: |
          git fetch --tags
          echo "latest tag: $(git describe --tags "$(git rev-list --tags --max-count=1)")"
          echo "TAG_VERSION=$(git describe --tags "$(git rev-list --tags --max-count=1)")" >>  $GITHUB_ENV

      - name: Increase Tag
        id: tag
        run: |
          bug=${{ steps.bug.outputs.set }}
          enhancement=${{ steps.enhancement.outputs.set }}
          breaking=${{ steps.breaking.outputs.set }}

          breaking_ver=$(echo '${{ env.TAG_VERSION }}' | cut -d "." -f1)
          enhancement_ver=$(echo '${{ env.TAG_VERSION }}' | cut -d "." -f2)
          bug_ver=$(echo '${{ env.TAG_VERSION }}' | cut -d "." -f3)

          breaking_ver="${breaking_ver:1}"

          # Check for bug label
          [ ! -z "$bug" ] && [ -z "$enhancement" ] && [ -z "$breaking" ] && ((bug_ver++)) || true

          # check for enhancement label
          if [ ! -z "$enhancement" ] && [ -z "$breaking" ]; then
            ((enhancement_ver++))
            bug_ver=0
          fi

          # Check for breaking label
          if [ ! -z "$breaking" ]; then
            ((breaking_ver++))
            enhancement_ver=0
            bug_ver=0
          fi

          tag="v$breaking_ver.$enhancement_ver.$bug_ver"
          echo "new tag $tag"
          git tag $tag
          git push --tags
          echo tag=$tag >> $GITHUB_OUTPUT

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Checkout component
        uses: actions/checkout@v4
        with:
          repository: ${{ env.COMPONENT_REPO }}
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: "${{ env.APP_NAME }}/${{ github.event.pull_request.number }}/${{ steps.extract_branch.outputs.branch }}"

      - name: Update tag and run golden
        run: |
          yq e '.parameters.appcat.images.${{ env.APP_NAME }}.tag="${{ steps.tag.outputs.tag }}"' class/defaults.yml | diff -B class/defaults.yml - | patch class/defaults.yml - || true

          make gen-golden-all

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "Update tag in component"
